<div>Last login: {{site.time}} on ttys003</div>
<div class="archey-row">
  <div class="archey-face">
    <p><img src="../assets/img/nice_face.gif" class="archey"></p>
  </div>
  <div class="archey-info">
    <p>
      <span class="cyan">User:</span> matt<br>
      <span class="cyan">Hostname:</span> fite_dev<br>
      <span class="cyan">Distro:</span> leenooks<br>
      <span class="cyan">Kernel:</span> 0.01<br>
      <span class="cyan">Uptime:</span> 15,034 days<br>
      <span class="cyan">Shell:</span> /bin/bash<br>
      <span class="cyan">Terminal:</span> superterm2000<br>
      <span class="cyan">CPU:</span> Intel 80386 CPU @ 12 MHz<br>
      <span class="cyan">Memory:</span> 2 MB<br>
      <span class="cyan">Disk:</span> 42%<br>
    </p> 
  </div>
</div>
