@font-face {
  font-family: 'dotmatrix';
  font-style: normal;
  src: url('/assets/fonts/dot_matrix/DOTMATRI.TTF');
  font-weight: normal;
  // src: url('/assets/fonts/spotted_rail_ticket/spotted-rail-ticket.otf');
}

@font-face {
  font-family: 'dotmatrixbold';
  font-style: normal;
  src: url('/assets/fonts/dot_matrix/DOTMBold.TTF');
  font-weight: normal;
  // src: url('/assets/fonts/spotted_rail_ticket/spotted-rail-ticket.otf');
}
@font-face {
  font-family: 'terminal';
  src: url('/assets/fonts/Web437_IBM_EGA_8x14.woff');
}

@font-face {
  font-family: 'handwriting';
  src: url('/assets/fonts/Rock_Salt/RockSalt-Regular.ttf');
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: #6871ff;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: #000000;
  background-color: #00c200;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Create two equal columns that floats next to each other */
.archey-info {
  float: left;
  width: 70%;
  padding: 10px;
  // height: 300px; /* Should be removed. Only for demonstration */
  // vertical-align: middle;
}

.archey-face {
  float: left;
  width: 30%;
  padding: 10px 10px 10px 70px;
  flex-shrink: 0;
  min-width: 30%;
  min-height: 100%;
  // background-image: url('/assets/img/nice_face.gif');
  // background-repeat: no-repeat;
}

/* Clear floats after the columns */
.archey-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.tab { margin-left: 40px; }

.cyan { color: #00c5c7; }

.green { color: #00c200; }

.bright-blue { color: #0225c7; }

.white { color: #c7c7c7; }

.cursor {
  animation: blink 1s linear infinite alternate;
}

.commandline {
  content: "";
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* The top menu */
#topnav {
  display: flex;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  // overflow: hidden;
  background-color: #333;
  background-image: url('/assets/img/topbar.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

ul.topnav {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  display: inline;
}

li {
  display: inline;
}

ul.topnav li a {
  float: left;
  // // display: block;
  // color: white;
  // text-align: center;
  // vertical-align: middle;
  height: 33px;
  min-width: 70pt;
  // padding: 14px 16px;
  // text-decoration: none;
}

.topnav .filler {
  flex-grow: 1;
  float: left;
  white-space: nowrap;
}

.topnav .right-buttons {
  padding-right: 10px;
}

.topnav .right {float: right;}

@media screen and (max-width: 600px) {
  .topnav right, 
  .topnav {float: none;}
  nav[role="full-horizontal"] {
    ul > li {
      width: 100%;
    }
  }
}

.logobutton {
  height: 20px;
  vertical-align: middle;
}

.logobutton .github {

}

.buttontape {
  background: url("/assets/img/tape-36x92.png"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.homebutton {
  margin-right: 7px;
  // padding: -5px -10px -5px -10px;
  font-family: 'handwriting';
  font-weight: bold;
  color:#000;
  // font-size: 18px;
}

.slogan {
  font-family: 'Righteous';
  padding: 30px 20px 20px 0px;
  float: right;
  // vertical-align: bottom;
  font-size: 14px;
  color: #111;
} 

/* Screen frame */
#monitor {
  margin-top: 60px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	// align-items: center;
  background-color: black;
  background-image: radial-gradient(
    rgba(10, 10, 10, 0.75), black 120%
  );
  border-bottom: 0px;
  padding:0;
}

#bezel {
  z-index: 999;
  box-sizing:border-box;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 95vh;
  border: 30px solid transparent;
  border-image-source: url('/assets/img/bezel.png');
  border-image-slice: 30 fill;
  border-image-outset: 0;
  overflow: hidden;
}


// #screen:before {
//   content: " ";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background: linear-gradient(
//       to bottom,
//       rgba(18, 16, 16, 0) 50%,
//       rgba(0, 0, 0, 0.25) 50%
//   );
//   background-size: 100% 8px;
//   z-index: 2;
//   pointer-events: none;
// }

#screen, pre{
  font-family: 'terminal';
  font: 1.3rem terminal, monospace;
}

#screen::before {
  box-sizing:inherit;
}

#screen {
  z-index: 998;
  overflow: auto;
  position: relative;
  height: 75vh;
  margin-top: 2em;
  color: white;
  padding: 2em;
  // font-family: 'terminal';
  // font: 1.3rem terminal, monospace;
  // font: 1.3rem Inconsolata, monospace;
  // text-shadow: 0 0 5px;
  // &::after {
  //   content: "";
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background: repeating-linear-gradient(
  //     0deg,
  //     rgba(black, 0.15),
  //     rgba(black, 0.15) 1px,
  //     transparent 1px,
  //     transparent 2px
  //   );
  //   pointer-events: none;
  // }
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

/* Style page content */
.content {
  // margin-left: 200px; /* Same as the width of the sidebar */
  // margin-top: 35px; /* Add a top margin to avoid content overlay */
  // padding: 0px 10px;
  // background-color: #000;
  // background: url('/assets/img/bezel.png');
  // background-repeat: no-repeat
}

#dotmatrix {
  z-index: 999;
  overflow: auto;
  position: relative;
  height: 80vh;
  margin-top: 2em;
  padding: 10px 70px 10px 70px;
  font-family: 'dotmatrix';
  font-size: 20px;
  background-image: url('/assets/img/DotMatrixPaper.png');
  // background-repeat: repeat-y;
  // background-attachment:scroll; 
  background-size: 100%;
  // height: cover;
}

p.dotmatrix {
  font-family: 'dotmatrix';
  font-weight: normal;
  font-style: normal;
}

strong.dotmatrix {
  font-family: 'dotmatrixbold';
  font-weight: bold;
  font-style: normal;
}


