@font-face {
  font-family: 'dotmatrix';
  src: url('/assets/fonts/DOTMATRI.TTF');
}

@font-face {
  font-family: 'terminal';
  src: url('/assets/fonts/Web437_IBM_EGA_8x14.woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* The top menu */
.topnav {
  display: flex;
  z-index: 5;
  // list-style-type: none;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  // margin: 0;
  // padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav {float: left;}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.worn {
  content: '\A';
  // position: absolute;
  opacity:90;
  background: url("/assets/img/wornkey.jpg");
}

.filler {
  flex-grow: 1;
  background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}

.right-buttons {
  padding-right: 10px;
  // width: 50px;
}

// .topnav a:hover:not(.active) {background-color: #111;}

// .topnav a.active {background-color: #4CAF50;}

.topnav right {float: right;}

@media screen and (max-width: 600px) {
  .topnav right, 
  .topnav {float: none;}
}

// /* The sidebar menu */
// .sidenav {
//   height: 100%; /* Full-height: remove this if you want "auto" height */
//   width: 200px; /* Set the width of the sidebar */
//   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
//   z-index: 1; /* Stay on top */
//   top: 0; /* Stay at the top */
//   left: 0;
//   background-color: #111; /* Black */
//   overflow-x: hidden; /* Disable horizontal scroll */
//   padding-top: 20px;
// }

// /* The navigation menu links */
// .sidenav a {
//   padding: 6px 8px 6px 16px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
// }

// /* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//   color: #f1f1f1;
// }

/* Style page content */
.content {
  // margin-left: 200px; /* Same as the width of the sidebar */
  margin-top: 35px; /* Add a top margin to avoid content overlay */
  padding: 0px 10px;
  background-color: #000;
  background: url('/assets/img/bezel.png');
  background-repeat: no-repeat
}

.dotmatrix {
  padding: 10px 70px 10px;
  font-family: 'dotmatrix', sans-serif;
  background-image: url('/assets/img/DotMatrixPaper.png');
  background-repeat: repeat;
  background-attachment: local;
  background-size: cover;
  height: 100%;
}

// /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//   .sidenav {padding-top: 15px;}
//   .sidenav a {font-size: 18px;}
// }

// .current {
//   color: green;
// }

.crtframe {
  top: 60px; /* Add a top margin to avoid content overlay */
  z-index: 10;
  position: fixed;
  width: 100%;
  // height: 100%;
  border: 5px solid transparent;
  border-image-source: url('/assets/img/bezel.png');
  border-image-slice: 30 fill;
  border-image-outset: 0;
  overflow: hidden;
  // z-index: 99;
  // position: absolute;
  // background: url('/assets/img/bezel.png');
  // background-repeat: no-repeat;
  // background-attachment: cover;
}

.logobutton {
  height: 30px;
}
