@font-face {
  font-family: 'dotmatrix';
  font-style: normal;
  src: url('/assets/fonts/dot_matrix/DOTMATRI.TTF');
  font-weight: normal;
  // src: url('/assets/fonts/spotted_rail_ticket/spotted-rail-ticket.otf');
}

@font-face {
  font-family: 'dotmatrixbold';
  font-style: normal;
  src: url('/assets/fonts/dot_matrix/DOTMBold.TTF');
  font-weight: normal;
  // src: url('/assets/fonts/spotted_rail_ticket/spotted-rail-ticket.otf');
}
@font-face {
  font-family: 'terminal';
  src: url('/assets/fonts/Web437_IBM_EGA_8x14.woff');
}

@font-face {
  font-family: 'handwriting';
  src: url('/assets/fonts/Rock_Salt/RockSalt-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* The top menu */
#topnav {
  display: flex;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  overflow: hidden;
  background-color: #333;
  background-image: url('/assets/img/topbar.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.topnav {float: left;}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.worn {
  content: '\A';
  opacity:90;
  background: url("/assets/img/wornkey.jpg");
}

.filler {
  // z-index: 9;
  flex-grow: 1;
  float: left;
  white-space: nowrap;
  // shape-outside: inset(20px 50px 10px 0 round 50px) margin-box;
  // background-color:#FFF;
  // border: 2px solid black;
  // border-radius: 10px;
  // background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}

.right-buttons {
  padding-right: 10px;
  // width: 50px;
}

// .topnav a:hover:not(.active) {background-color: #111;}

// .topnav a.active {background-color: #4CAF50;}

.topnav right {float: right;}

@media screen and (max-width: 600px) {
  .topnav right, 
  .topnav {float: none;}
}

/* Screen frame */
#monitor {
  margin-top: 60px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	// align-items: center;
  background-color: black;
  background-image: radial-gradient(
    rgba(10, 10, 10, 0.75), black 120%
  );
  border-bottom: 0px;
  padding:0;
}

#bezel {
  // z-index: 9;
  box-sizing:border-box;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 95vh;
  border: 30px solid transparent;
  border-image-source: url('/assets/img/bezel.png');
  border-image-slice: 30 fill;
  border-image-outset: 0;
  overflow: hidden;
}


// #screen:before {
//   content: " ";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background: linear-gradient(
//       to bottom,
//       rgba(18, 16, 16, 0) 50%,
//       rgba(0, 0, 0, 0.25) 50%
//   );
//   background-size: 100% 8px;
//   z-index: 2;
//   pointer-events: none;
// }

#screen, pre{
  font-family: 'terminal';
  font: 1.3rem terminal, monospace;
}

#screen::before {
  box-sizing:inherit;
}

#screen {
  z-index: 999;
  overflow: scroll;
  position: relative;
  height: 75vh;
  margin-top: 2em;
  color: white;
  // font-family: 'terminal';
  // font: 1.3rem terminal, monospace;
  // font: 1.3rem Inconsolata, monospace;
  // text-shadow: 0 0 5px;
  // &::after {
  //   content: "";
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background: repeating-linear-gradient(
  //     0deg,
  //     rgba(black, 0.15),
  //     rgba(black, 0.15) 1px,
  //     transparent 1px,
  //     transparent 2px
  //   );
  //   pointer-events: none;
  // }
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

/* Style page content */
.content {
  // margin-left: 200px; /* Same as the width of the sidebar */
  // margin-top: 35px; /* Add a top margin to avoid content overlay */
  // padding: 0px 10px;
  // background-color: #000;
  // background: url('/assets/img/bezel.png');
  // background-repeat: no-repeat
}

#dotmatrix {
  z-index: 12;
  position: fixed;
  margin-top: 35px;
  padding: 10px 70px 10px 70px;
  font-family: 'dotmatrix';
  font-size: 20px;
  background-image: url('/assets/img/DotMatrixPaper.png');
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: 100%;
  // height: cover;
  overflow: hidden;
}

p {
  font-family: 'dotmatrix';
  font-weight: normal;
  font-style: normal;
}

strong{
  font-family: 'dotmatrixbold';
  font-weight: bold;
  font-style: normal;
}

.logobutton {
  height: 20px;
}

.buttontape {
  background: url("/assets/img/tape-36x92.png"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.homebutton {
  margin-right: 7px;
  // padding: -5px -10px -5px -10px;
  font-family: 'handwriting';
  font-weight: bold;
  color:#000;
  // font-size: 18px;
}

.slogan {
  font-family: 'Righteous';
  padding: 30px 20px 20px 0px;
  float: right;
  // vertical-align: bottom;
  font-size: 14px;
  color: #111;
} 
