// This totally rad typography by David Parker
// https://codepen.io/boldfacedesign/pen/EoGgD

@import url(https://fonts.googleapis.com/css?family=Righteous);
/* righteous-regular - latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/righteous-v9-latin/righteous-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/righteous-v9-latin/righteous-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/righteous-v9-latin/righteous-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/righteous-v9-latin/righteous-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/righteous-v9-latin/righteous-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/righteous-v9-latin/righteous-v9-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
}

.vectro {
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #f1f1f1;
  font-family: 'Righteous', cursive;
  font-size: 42px;
  padding: 0 15px 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}

.windows .vectro {
  -webkit-text-stroke: 4px #f1f1f1;
}

.vectro-body {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  padding-right: 2em;
  font-style: normal;
}

.vectro-red {
  color: #F10C20;
  -webkit-text-fill-color: #F10C20;
  -webkit-text-stroke: 0;
  -webkit-filter: drop-shadow(2px 2px 15px #F10C20);
  font-style: italic;
  padding-right: 20px;
}

.vectro-green {
  color: #6BFF2B;
  -webkit-text-fill-color: #6BFF2B;
  -webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 20px;
  margin-left: -20px;
}

.vectro-blue {
  color: #3F59F4;
  -webkit-text-fill-color: #3F59F4;
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 0px;
  margin-left: -20px;
}
