<!doctype html>
<html>
  {% include head.html %}
  <header id="topnav">
    {% include sidenav.html %}
    {% include navigation.html %}
  </header>
  <body>
    <div id ="monitor" class="crt">
      <div id="bezel">
        <div id="screen">
          {{ content }}
        </div>
      </div>
    </div>
  <script>
    function openNav() {
      document.getElementById("sidenav").style.width = "100px";
    }
    
    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
    }
    </script>
  </body>
</html>
