<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
      <div class="topnav">
        {% include navigation.html %}
      </div>
      <div class="content terminal crt crtframe">
        {{ content }}
      </div>
    </div>
  </body>
</html>
